:global(.vtex-store-drawer-0-x-closeIconButton svg) {
    display: none;
}
:global(.vtex-store-drawer-0-x-closeIconButton:before) {
    content: "";
    background: url("https://i.imgur.com/kQkDqkr.png") no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
}
/* :global(.vtex-store-components-3-x-searchBarIcon--search::after) {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("assets/Search-icon.svg");
    background-size: contain;
} */
